[submodule "FEBasicApplication"]
	path = SubSystems/FEBasicApplication
	url = https://github.com/Azzinoth/FEBasicApplication
[submodule "FEVisualNodeSystem"]
	path = Editor/NodeSystem/FEVisualNodeSystem
	url = https://github.com/Azzinoth/FEVisualNodeSystem
