# FILES
*.VC.db
*.VC.opendb
*.sdf
*.pdb
*.dll
*.exe
*.ilk
*.opensdf
*.idb
*.suo
*.dylib
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
imgui.ini
*.txt
cmake_install.cmake
Config.h
FOCAL_ENGINE_Version.h
report.xml

#Folders
Debug/
Release/
.vs/
CMakeFiles/