# FILES
*.VC.db
*.VC.opendb
*.sdf
*.pdb
*.dll
*.exe
*.ilk
*.opensdf
*.idb
*.suo
*.dylib
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
imgui.ini
*.txt
/CoreExtensions/StandardMaterial/PhongMaterial/skyDome.h
/CoreExtensions/StandardMaterial/TerrainMaterial/FETerrainShader - Copy.h
/CoreExtensions/StandardMaterial/TerrainMaterial/FETerrainShader - Copy (2).h
cmake_install.cmake

#Folders
Debug/
Release/
.vs/
CMakeFiles/